<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Carousel</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Hello World</h1>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery...">
<!-- Slide -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: url(img/terrain.jpg);">
      <div class="carousel-caption">
        <h2> Don_t keep calm and <span>Play Football</span></h2>
        <h3>We are team</h3>
        <p><a href="#">Réjoignez un club</a></p>
      </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: url(img/ballon.jpg);"></div>
      <div class="carousel-caption">
        <h2> Alefa <span>Madagascar</span></h2>
        <h3>We are team</h3>
        <p><a href="#">Événements</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: url(img/pied.jpg);">
        <div class="carousel-caption">
        <h2> La jeunesse <span>l_avenir</span></h2>
        <h3>We are team</h3>
        <p><a href="#">Demande</a></p>
      </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

